<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated clase04 -->
      <package
            uri="http://www.example.org/clase04"
            class="clase04.Clase04Package"
            genModel="model/clase04.genmodel"/>
   </extension>

</plugin>
